*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(249, 196, 131);
    color: white;
}
.rounded_my{
    border-radius: 10px;
}

input{
    background-color: rgb(246, 232, 232);
}

